Pods/
Packsync.xcworkspace/xcuserdata/*.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
TravelCrew.xcodeproj/project.pbxproj
TravelCrew.xcodeproj/xcuserdata/leoyoung.xcuserdatad/xcschemes/xcschememanagement.plist
TravelCrew.xcworkspace/xcuserdata/leoyoung.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
